#title {
    background-image: url("https://i.pinimg.com/236x/b9/e3/5f/b9e35f5a5652fcf2a3d507e0e24abc9e.jpg");
    font-size: 2rem;
}

#second {
    background-image: url("https://i.pinimg.com/236x/f2/08/37/f20837f21611d16025d31b125a3aec5a.jpg");
    background-position: top;
}