#berlin {
    background-image: url("https://i.pinimg.com/236x/67/df/87/67df872b61fc1bebe1c1b9ecf8f39893.jpg");
}

.gallery-imgs {width: 200%;}

.slide {width: 50%;}

#radio1:checked ~ .first {margin-left: 0;}
#radio2:checked ~ .first {margin-left: -50%;}
