#follow {
    background-image: url("https://i.pinimg.com/236x/04/2b/00/042b002938c690c8e851931acaef7026.jpg");
}

.parallax-title {height: 400px;}

.parallax-content {
    margin-top: 50px; margin-bottom: 100px;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info {
    width: 200px;
    text-align: left;
    position: relative;
    top: -25px;
}

.accounts {
    display: flex;
}

.account {
    width: 300px;
    height: 250px;
    border-radius: 25px;
    /* background-color: var(--primary-color); */
    box-shadow: -10px 5px 30px 0 #0006;
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.account, .account * {color: #fff;}

.account:not(:first-child) {margin-left: -250px;}

.account:hover {transform: translateY(-75px);}
.account:hover ~ .account {left: 150px;}

.facebook {background-color: #3b5998;}
.twitter {background-color: #00aced;}
.instagram {background-color: #e4405f;}

.account .title {
    height: 100px;
    display: flex;
    align-items: center;
}

.account .title i {
    font-size: 1.5rem;
    width: 50px;
    text-align: center;
    margin-right: 5px;
}

.account .img {
    height: 100%; background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.facebook .img {background-image: url("../imgs/kavala3.jpg"); background-position: 25% 50%;}
.twitter .img {background-image: url("../imgs/kavala2.jpg");}
.instagram .img {background-image: url("../imgs/kavala1.jpg");}
