#aim .parallax-title {
    background-image: url("https://i.pinimg.com/236x/c8/0e/8f/c80e8f6ad8218afb46a387d19a81b104.jpg");
}

#goals .parallax-title {
    background-image: url("https://i.pinimg.com/236x/c8/80/a8/c880a8c144877ff5fe44f22353e5691a.jpg");
}

#why .parallax-title {
    background-image: url("https://i.pinimg.com/236x/3b/57/d4/3b57d4af194ebe008f6143d456ea3592.jpg");
}
