@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css");

@media only screen and (min-width: 769px) {
    .mobile {display: none;}
}

:root {
    --primary-color: #02122e;
}

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
}

*, *::before, *::after {
    transition: 0.2s;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

header {
    height: 100px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 -4px 16px 0 var(--primary-color);
    z-index: 1;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#logos a img {
    height: 75px;
}

#links {
    display: flex;
}

.dropdown {
    overflow: hidden;
}

.dropbtn {
    margin: 0 15px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
}

.dropbtn::before {
    content: "";
    display: inline-block;
    position: relative;
    left: -10px;
    height: 16px;
    width: 2px;
    background-color: var(--primary-color);
    transform: scaleY(0);
}

.dropdown:hover .dropbtn::before {
    transform: scaleY(1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 200px;
    box-shadow: 0 10px 10px 0 #0003;
    border-radius: 0 0 25px 0;
}

.dropdown-content a {
    text-align: left;
    padding: 10px 15px;
    transform: translateX(0);
}

.dropdown-content a:hover {
    transform: translateX(10px);
}

.dropdown-content a:not(:last-child)::after {
    content: "";
    position: relative;
    bottom: -10px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #0003;
    transform: scaleX(0);
}

.dropdown-content a:not(:last-child):hover::after{
    transform: scaleX(0.8) translateX(-10px);
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.parallax-title {
    width: 100%;
    height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.parallax-title *{
    color: #fff;
    text-shadow: 0 8px 16px black;
}

.parallax-title p {
    display: flex;
    align-items: center;
}

.parallax-title p img {
    height: 30px;
    margin-left: 15px;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.parallax-title p:hover img {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}

.parallax-content {
    text-align: justify;
    width: calc(100% - 500px);
    padding: 25px 50px;
    margin: 25px auto;
    border-left: 5px solid var(--primary-color);
}

footer {
    width: 100%;
    height: 200px;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

footer * {color: #fff;}

footer img {
    height: 50px;
    width: 75px;
    margin: 10px;
}

@media only screen and (min-width: 769px) {
    footer::after {
        content: "Made by Hamza Kağan Özer";
        font-size: 0.75rem;
        margin-top: 10px;
    }
}

#links div.dropdown:nth-child(5) {display: none;}

.gallery-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--primary-color);
}

.gallery-imgs {
    /* width: 200%; depends on image amount */
    height: 500px;
    display: flex;
}
.gallery-imgs input {display: none;}

.slide {
    /* width: 50%; depends on image amount */
    display: flex;
    justify-content: center;
}

/* gallery-imgs.width * slide.width = 1 */

.slide img {
    height: 500px;
    width: auto;
}

.gallery-nav {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.gallery-nav label {
    border: 2px solid var(--primary-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.gallery-nav label:not(:last-child) {margin-right: 40px;}
.gallery-nav label:hover {background-color: var(--primary-color);}
