#home {
    margin: 70px 0;
    text-align: center;
}

#home h1 {
    font-size: 2rem;
}

.ilce {
    width: 50%;
    margin: auto;
}

.ilce .accordion {
    margin: auto;
    box-sizing: border-box;
    border-radius: 25px;
    margin: 10px auto;
    padding: 0;
    background-color: var(--primary);
    overflow: hidden;
}

.ilce .accordion .summary {
    display: block;
    position: relative;
    padding: 10px;
}

.ilce .accordion .content {
    padding: 5px;
}

.yazar {
    display: block;
    position: relative;
    width: 85%;
    margin: 10px auto;
}

.yazar img {
    border-radius: 10%;
    width: 100%;
    height: auto;
}

.yazar-info {
    position: absolute;
    height: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: var(--primary); */
    background: linear-gradient(0deg, var(--primary) 5%, transparent 100%);
    font-size: 0.75rem;
}