[id*="desktop"], #bilgilendirme {display: none;}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--primary);
}

#mobileNav {
    top: 0;
    justify-content: space-between;
    border-radius: 0 0 25px 0;
    z-index: 1;
}

#mobileNav h1 {
    font-weight: bolder;
}

#logo {
    margin-right: 20px;
}

#hamBtn {
    display: none;
}

#hamBtn ~ label[for="hamBtn"] {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

#hamBtn ~ label[for="hamBtn"] div {
    width: 20px;
    height: 2px;
    border-radius: 5px;
    margin: 2px;
    background-color: #fff;
    transform-origin: 0% 0%
}

#hamBtn ~ label[for="hamBtn"] div:nth-child(3) {
    transform-origin: 0% 100%
}

#hamBtn:checked ~ label[for="hamBtn"] div:nth-child(1) {
    transform: rotate(45deg);
}

#hamBtn:checked ~ label[for="hamBtn"] div:nth-child(2) {
    transform: scaleX(0);
}

#hamBtn:checked ~ label[for="hamBtn"] div:nth-child(3) {
    transform: rotate(-45deg);
}

#hamBtn:checked ~ #logo {
    opacity: 0;
    transform: translate(-200%);
}

#mobileMenu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    transform: translate(-100%);
    display: flex;
}

#mobileMenu h1 {
    margin: 5px 0;
    padding: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

#mobileMenuItems {
    padding: 15px;
    width: 200px;
    height: 100%;
    background-color: var(--primary);
    box-shadow: 0 0 25px var(--primary);
}

#mobileMenuItems li{
    margin: 5px 0;
    padding: 5px;
}

#mobileMenuItems li:not(#liTheme, #kagan):hover{
    background-color: var(--secondary);
    cursor: pointer;
}

#mobileMenuItems :nth-child(4){
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#mobileMenu > a {
    width: calc(100% - 200px);
    height: 100%;
}

#mobileTheme {
    display: none;
}

label[for="mobileTheme"] {
    margin: 5px 0;
    display: flex;
    align-items: center;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    background-color: var(--secondary);
}

label[for="mobileTheme"]::before {
    position: relative;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--primary);
    transform: translate(0%) scale(0.8);
    transition: 0.2s;
}

#mobileTheme:checked ~ label[for="mobileTheme"]::before {
    transform: translate(100%) scale(0.8);
}

#hamBtn:checked ~ #mobileMenu{
    transform: translate(0px);
}

#hamBtn:checked ~ section{
    backdrop-filter: blur(10px);
}

#mobileFt {
    bottom: 0;
    justify-content: center;
    border-radius: 25px 25px 0 0;
}

#homeBtn {
    position: relative;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: var(--primary);
    z-index: 1;
}
