.theme-dark {
    --primary: #2e1114;
    --secondary: #501b1d;
}

.theme-light {
    --primary: #1a1a1d;
    --secondary: #4e4e50;
}

* {
    margin: 0;
    padding: 0;
    transition: 0.2s;
    font-weight: normal;
    color: #fff;
    font-family: "Playfair Display", serif;
}

*:focus {
    outline: none;
}

body {
    background-color: var(--secondary);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-family: "Cinzel", serif;
}
