#aosb {
    background-image: url("../../imgs/cigli-aosb.jpg");
    background-position: center;
    font-size: 2rem;
}

#bilsem {
    background-image: url("../../imgs/cigli-bilsem.jpg");
    font-size: 2rem;
}